.footer {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    background-color: aquamarine;
}

hr{
    margin-bottom: .5em;
}

.icons a img{
    padding: 2px 2px 2px 2px;
    width: 40px;
    height: 40px;

}

.icon img:hover{
    transform: scale(1.1);
    transition: .4s;
}

.copyright {
    text-align: center;
    margin-bottom: .5em;
} 

.mapouter{
    position:relative;
    text-align:right;
    height:200px;
    width:300px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:200px;
    width:300px;
}