.footer {
    display: flex;
    justify-content: space-between;
}

hr{
    margin-bottom: .5em;
}

.icons a img{
    padding: 2px 2px 2px 2px;
    width: 45px;
    height: 45px;
}

.icon img:hover{
    transform: scale(1.1);
    transition: .4s;
}

.copyright {
    text-align: center;
    margin-bottom: .5em;
} 