
  img{
    max-width: 100%;
    max-inline-size: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
  
  }
  
  .image{
    align-items: center;
    display: flex;
    margin-bottom: 30px;
  }
  
  header{
    background-color:rgb(192, 188, 188);
    text-align: center;
    font-display: block;
    text-size-adjust: 1000px;
    font-display: block;
    font-size: larger;
    font-style: unset;
  }
  
  
  .h2{
    margin-top: -30px;
    margin-left: -6%;
    font-size: 40px;
    padding: 64px;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
  }
  
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 600px;
    }
  }
  
  .links{
    font-size: 120%;
  }
  
  .contactInfo{
    color: aliceblue;
  }
  
  .conTact{
    margin-top: 0%;
    margin-bottom: -30%;
  }
  
  
  .about{
    margin-top: -30px;
    margin-left: -5%;
    font-size: 50px;
    padding: 64px;
    background: linear-gradient(to right, hsl(0, 43%, 1%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 20%, 1%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
  }
  
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 600px;
    }
  }
  
  .aboutImage{
    width: 250%;
    margin-top: -4%;
  }
  
  .paragraph{
    margin-top: 2%;
    color: rgb(16, 16, 16);
    margin-bottom: 10px;
    text-decoration-color: rgb(4, 4, 4);
   
  }
  
  body{
    background-color: rgb(163, 157, 157);
  }
  
  @import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap);
  
  h1 {
    background: url(https://raw.githubusercontent.com/s1mpson/-/master/codepen/black-lives-matter/victim-collage.png);
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: hsla(0, 0%, 0%, 0.08);
    animation: zoomout 10s ease 500ms forwards;
    font-size: 70px;
  }
  
  @keyframes zoomout {
    from {
      background-size: 40%;
    }
    to {
      background-size: 10%;
    }
  }
  
  .App {
    height: 75vh;
    margin-top: 10px;
  }
  
  .cardform{
    margin-top: -5%;
  }